In [1]:
import pandas as pd
import numpy as np

In [2]:
# Cargar los DataFrames desde archivos pickle
df_absentismo = pd.read_pickle('df_absentismo.pkl')
df_historical_performance = pd.read_pickle('df_historical_performance.pkl')
df_performance = pd.read_pickle('df_performance.pkl')
df_actual = pd.read_pickle('df_actual.pkl')
df_base = pd.read_pickle('df_base.pkl')

In [3]:
# Crear un diccionario para la categorización
categorization = {}

# Categorizar la columna 'IT/AT'
it_at_categories = df_absentismo['IT/AT'].unique()
it_at_mapping = {category: i + 1 for i, category in enumerate(it_at_categories)}
categorization['IT/AT'] = it_at_mapping
df_absentismo['IT/AT'] = df_absentismo['IT/AT'].map(it_at_mapping)

# Categorizar la columna 'Horas contratadas'
horas_contratadas_categories = df_absentismo['Horas contratadas'].unique()
horas_contratadas_mapping = {category: i + 1 for i, category in enumerate(horas_contratadas_categories)}
categorization['Horas contratadas'] = horas_contratadas_mapping
df_absentismo['Horas contratadas'] = df_absentismo['Horas contratadas'].map(horas_contratadas_mapping)

# Categorizar la columna 'TIPO DE BAJA'
tipo_baja_categories = df_absentismo['TIPO DE BAJA'].unique()
tipo_baja_mapping = {category: i + 1 for i, category in enumerate(tipo_baja_categories)}
categorization['TIPO DE BAJA'] = tipo_baja_mapping
df_absentismo['TIPO DE BAJA'] = df_absentismo['TIPO DE BAJA'].map(tipo_baja_mapping)

# Crear un nuevo DataFrame con las columnas categorizadas y la columna 'ID'
df_absentismo_c = df_absentismo[['ID'] + list(categorization.keys())]

print(categorization)
print(df_absentismo_c)

{'IT/AT': {'IT': 1, 'AT': 2, nan: 3}, 'Horas contratadas': {40: 1, 32: 2, 20: 3, 36: 4, 30: 5, 24: 6, 16: 7, 28: 8, 25: 9, 26: 10, 35: 11}, 'TIPO DE BAJA': {'Muy largo': 1, 'Corto': 2, 'Largo': 3, nan: 4}}
         ID  IT/AT  Horas contratadas  TIPO DE BAJA
0     9325A      1                  1             1
1     7296W      1                  1             1
2     0628A      2                  1             1
3     7994L      1                  2             2
4     2301Q      1                  1             3
...     ...    ...                ...           ...
2214  9817C      1                  1             2
2215  7624D      1                  1             2
2216  2713R      1                  2             2
2217  3273B      2                  1             4
2218  0266H      1                  1             2

[2219 rows x 4 columns]

In [4]:
# Crear un diccionario para la categorización
categorization = {}

# Categorizar la columna 'Supervisor/a'
supervisor_categories = df_historical_performance['Supervisor/a'].unique()
supervisor_mapping = {category: i + 1 for i, category in enumerate(supervisor_categories)}
categorization['Supervisor/a'] = supervisor_mapping
df_historical_performance['Supervisor/a'] = df_historical_performance['Supervisor/a'].map(supervisor_mapping)

# Categorizar la columna 'Evaluación'
evaluacion_categories = df_historical_performance['Evaluación'].unique()
evaluacion_mapping = {category: i + 1 for i, category in enumerate(evaluacion_categories)}
categorization['Evaluación'] = evaluacion_mapping
df_historical_performance['Evaluación'] = df_historical_performance['Evaluación'].map(evaluacion_mapping)

# Crear un nuevo DataFrame con las variables categorizadas y la columna 'ID'
df_historical_performance_c = pd.DataFrame(df_historical_performance[['ID'] + list(categorization.keys())])

print(categorization)
print(df_historical_performance_c)

{'Supervisor/a': {'PANADEROS WILLIAM': 1, 'EVA': 2, 'LEY': 3, 'CONXI': 4, 'PANADEROS SALVA': 5, 'PANADEROS MANU': 6, 'YSIS': 7, 'JOANA': 8, 'ROSA': 9, 'TOÑI': 10, 'AGUSTIN TENA': 11, 'PANADEROS AGUSTIN': 12, nan: 13, 'JUAN ANTONIO': 14, 'LAILA': 15, 'ANA': 16, 'LUZ': 17, 'GLEIDY': 18, 'ANA ': 19, 'MERLY': 20, 'PANADEROS ALBERT': 21}, 'Evaluación': {'Verde': 1, 'Amarillo -': 2, 'Amarillo +': 3, 'Sanción leve': 4, 'Sanción grave': 5, 'Sanción muy grave': 6, 'Rojo': 7, 'Sin evaluar': 8, 'Sin evaluar (baja médica)': 9, 'Sin evaluar (nuevo ingreso)': 10, nan: 11, 'Amonestación': 12}}
         ID  Supervisor/a  Evaluación
0     4321G             1           1
1     3044B             2           2
2     3044B             2           3
3     2130F             3           1
4     2130F             3           3
...     ...           ...         ...
1332  6719Q             2           1
1333  1129Y            17           1
1334  9123L            17           1
1335  1107P             2           1
1336  6608T            17           1

[1337 rows x 3 columns]

In [5]:
# Crear un diccionario para la categorización
categorization = {}

# Categorizar la columna 'Evaluación'
evaluacion_categories = df_performance['Evaluación'].unique()
evaluacion_mapping = {category: i + 1 for i, category in enumerate(evaluacion_categories)}
categorization['Evaluación'] = evaluacion_mapping
df_performance['Evaluación'] = df_performance['Evaluación'].map(evaluacion_mapping)

# Categorizar la columna 'Supervisor/a'
supervisor_categories = df_performance['Supervisor/a'].unique()
supervisor_mapping = {category: i + 1 for i, category in enumerate(supervisor_categories)}
categorization['Supervisor/a'] = supervisor_mapping
df_performance['Supervisor/a'] = df_performance['Supervisor/a'].map(supervisor_mapping)

# Crear un nuevo DataFrame con las variables categorizadas y la columna 'ID'
df_performance_c = pd.DataFrame(df_performance[['ID'] + list(categorization.keys())])

print(categorization)
print(df_performance_c)

{'Evaluación': {'Verde': 1, nan: 2, 'Amarillo -': 3, 'Amarillo +': 4, 'Rojo': 5, 'Sin evaluar (nuevo ingreso)': 6, 'Sanción muy grave': 7, 'Sin evaluar': 8, 'Sin evaluar (baja médica)': 9, 'Aura - Evaluado': 10, 'Sin Evaluar (Aura)': 11}, 'Supervisor/a': {'LUZ': 1, 'LEY': 2, 'YSIS': 3, 'PANADEROS ALBERT': 4, 'TOÑI': 5, 'PANADEROS WILLIAM': 6, 'ANA': 7, 'GLEIDY': 8, 'LAILA': 9, '\xa0': 10, 'UNAI': 11, 'JOANA': 12, 'EVA': 13, 'CONXI': 14, 'ROSA': 15, 'PANADEROS SALVA': 16, 'PANADEROS MANU': 17, 'AGUSTIN TENA': 18, 'PANADEROS AGUSTIN': 19, 'LEO': 20}}
        ID  Evaluación  Supervisor/a
0    6039R           1             1
1    2160K           2             1
2    6776W           3             2
3    2618H           1             3
4    1313V           1             3
..     ...         ...           ...
660  3914P           1             2
661  2387C           1            13
662  5752V           1            14
663  5220H           1            14
664  5843B           1            13

[665 rows x 3 columns]

In [6]:
# Create a dictionary for categorization
categorization = {}

# Categorize 'HORAS DE CONTRATO' column
horas_contrato_categories = df_actual['HORAS DE CONTRATO'].unique()
horas_contrato_mapping = {category: i + 1 for i, category in enumerate(horas_contrato_categories)}
categorization['HORAS DE CONTRATO'] = horas_contrato_mapping
df_actual['HORAS DE CONTRATO'] = df_actual['HORAS DE CONTRATO'].map(horas_contrato_mapping)

# Categorize 'Categoría' column
categoria_categories = df_actual['Categoría'].unique()
categoria_mapping = {category: i + 1 for i, category in enumerate(categoria_categories)}
categorization['Categoría'] = categoria_mapping
df_actual['Categoría'] = df_actual['Categoría'].map(categoria_mapping)

# Categorize 'Número de hijos' column
num_hijos_categories = df_actual['Número de hijos'].unique()
num_hijos_mapping = {category: i + 1 for i, category in enumerate(num_hijos_categories)}
categorization['Número de hijos'] = num_hijos_mapping
df_actual['Número de hijos'] = df_actual['Número de hijos'].map(num_hijos_mapping)

# Categorize 'Sexo' column
sexo_categories = df_actual['Sexo'].unique()
sexo_mapping = {category: i + 1 for i, category in enumerate(sexo_categories)}
categorization['Sexo'] = sexo_mapping
df_actual['Sexo'] = df_actual['Sexo'].map(sexo_mapping)

# Categorize 'Supervisora/Coordinador' column
supervisor_categories = df_actual['Supervisora/Coordinador'].unique()
supervisor_mapping = {category: i + 1 for i, category in enumerate(supervisor_categories)}
categorization['Supervisora/Coordinador'] = supervisor_mapping
df_actual['Supervisora/Coordinador'] = df_actual['Supervisora/Coordinador'].map(supervisor_mapping)

# Categorize 'Sección' column
seccion_categories = df_actual['Sección'].unique()
seccion_mapping = {category: i + 1 for i, category in enumerate(seccion_categories)}
categorization['Sección'] = seccion_mapping
df_actual['Sección'] = df_actual['Sección'].map(seccion_mapping)

# Add the 'ID' column to the categorized DataFrame
df_actual_c = pd.concat([df_actual['ID'], df_actual[list(categorization.keys())]], axis=1)

print(categorization)
print(df_actual_c)

{'HORAS DE CONTRATO': {40.0: 1, 32.0: 2, 16.0: 3, 28.0: 4, 38.0: 5, 20.0: 6, 25.0: 7, 36.0: 8, 37.0: 9, 22.0: 10, 24.0: 11, 18.0: 12, 30.0: 13, 10.0: 14, nan: 15, 26.0: 16}, 'Categoría': {'RESPONSABL': 1, 'OF ADM': 2, 'VENDEDOR/A': 3, 'PRODUCCION': 4, 'OF PROD': 5, 'AUX ADM': 6, 'CHÓFER REP': 7, 'BECARIO/A': 8, 'AUX COMPL': 9, 'MECÁNICO/A': 10, 'GERENCIA': 11, nan: 12}, 'Número de hijos': {'2': 1, '0': 2, '1': 3, ',': 4, '3': 5, '4': 6, 0: 7, 2: 8, 1: 9, 3: 10, 4: 11}, 'Sexo': {'Mujer': 1, 'Hombre': 2}, 'Supervisora/Coordinador': {'AGUSTIN TENA': 1, 'CONXI': 2, 'CRISTIAN GIMÉNEZ': 3, 'DIANA DÍAZ': 4, 'DOLORS ALBERT': 5, 'EVA': 6, 'JAVIER MONTES': 7, 'JOSÉ MARÍA CAMPI': 8, 'JUAN ANTONIO': 9, 'LEO TENA': 10, 'LEY': 11, 'MIQUEL GARCÍA': 12, 'NO INFO': 13, 'WILKINS DE LOS SANTOS': 14, 'PANADEROS AGUSTIN': 15, 'PANADEROS MANU': 16, 'PANADEROS SALVA': 17, 'PANADEROS WILLIAM': 18, 'ROSA': 19, 'UNAI': 20, 'YSIS': 21, 'FRANQUICIA': 22, 'LAILA': 23, 'TOÑI': 24, 'JOANA': 25, 'GLEIDY': 26, nan: 27, 'JOSE MBA': 28, 'ANA': 29, 'LUZ': 30, 'PANADEROS ALBERT': 31, 'PANADEROS KEVIN': 32, 'MARTIN DUQUE': 33, 'SANDRA ROLDAN': 34, 'ESTHER JAVIERRE': 35, 'BRUNO CANGIANI': 36, '0': 37}, 'Sección': {'TIENDA': 1, 'OBRADOR': 2, 'ESTRUCTURA': 3, 'DIRECCIÓN GENERAL': 4, 'NO INFO': 5, nan: 6, 'FRANQUICIA': 7, '0': 8}}
           ID  HORAS DE CONTRATO  Categoría  Número de hijos  Sexo
0       3024C                  1          1                1     1  \
1       4639B                  1          2                2     2
2       2993B                  1          2                2     1
4       1813T                  1          1                2     1
5       9559T                  1          1                2     1
...       ...                ...        ...              ...   ...
114310  2559B                  2          3                7     1
114311  7465B                  2          3                7     1
114312  1342J                  2          3                9     1
114313  4082D                  6          3                8     1
114381  5652P                  2          3                7     1

        Supervisora/Coordinador  Sección
0                             1        1
1                             1        2
2                             1        2
4                             1        1
5                             1        1
...                         ...      ...
114310                       37        8
114311                       37        8
114312                       37        8
114313                       37        8
114381                       37        8

[1713 rows x 7 columns]

In [12]:
# Create a dictionary for categorization
categorization = {}

# Categorize 'CATEGORIA' column
categoria_categories = df_base['CATEGORIA'].unique()
categoria_mapping = {category: i + 1 for i, category in enumerate(categoria_categories)}
categorization['CATEGORIA'] = categoria_mapping
df_base['CATEGORIA'] = df_base['CATEGORIA'].map(categoria_mapping)

# Categorize 'SECCIÓN' column
seccion_categories = df_base['SECCIÓN'].unique()
seccion_mapping = {category: i + 1 for i, category in enumerate(seccion_categories)}
categorization['SECCIÓN'] = seccion_mapping
df_base['SECCIÓN'] = df_base['SECCIÓN'].map(seccion_mapping)

# Categorize 'TIENDA/SECCION INICIAL' column
tienda_seccion_inicial_categories = df_base['TIENDA/SECCION INICIAL'].unique()
tienda_seccion_inicial_mapping = {category: i + 1 for i, category in enumerate(tienda_seccion_inicial_categories)}
categorization['TIENDA/SECCION INICIAL'] = tienda_seccion_inicial_mapping
df_base['TIENDA/SECCION INICIAL'] = df_base['TIENDA/SECCION INICIAL'].map(tienda_seccion_inicial_mapping)

# Categorize 'SECCIÓN2' column
seccion2_categories = df_base['SECCIÓN2'].unique()
seccion2_mapping = {category: i + 1 for i, category in enumerate(seccion2_categories)}
categorization['SECCIÓN2'] = seccion2_mapping
df_base['SECCIÓN2'] = df_base['SECCIÓN2'].map(seccion2_mapping)

# Categorize 'TIENDA/SECCION FINAL2' column
tienda_seccion_final2_categories = df_base['TIENDA/SECCION FINAL2'].unique()
tienda_seccion_final2_mapping = {category: i + 1 for i, category in enumerate(tienda_seccion_final2_categories)}
categorization['TIENDA/SECCION FINAL2'] = tienda_seccion_final2_mapping
df_base['TIENDA/SECCION FINAL2'] = df_base['TIENDA/SECCION FINAL2'].map(tienda_seccion_final2_mapping)

# Categorize 'QUIEN CAUSO BAJA?' column
causa_baja_categories = df_base['QUIEN CAUSO BAJA?'].unique()
causa_baja_mapping = {category: i + 1 for i, category in enumerate(causa_baja_categories)}
categorization['QUIEN CAUSO BAJA?'] = causa_baja_mapping
df_base['QUIEN CAUSO BAJA?'] = df_base['QUIEN CAUSO BAJA?'].map(causa_baja_mapping)

# Add the 'ID' column to the categorized DataFrame
df_base_c = pd.concat([df_base['ID'], df_base[list(categorization.keys())]], axis=1)

# Category for "FECHA BAJA"
df_base['FECHA BAJA CATEGORY'] = np.where(df_base['FECHA BAJA'].notnull(), 1, 2)
fecha_baja_category_values = {1: 'Has Value', 2: 'No Value'}
categorization['FECHA BAJA CATEGORY'] = fecha_baja_category_values

# Category for "Nº DE DIAS"
conditions = [
    (df_base['Nº DE DIAS'] <= 30),
    (df_base['Nº DE DIAS'] <= 90),
    (df_base['Nº DE DIAS'] <= 183),
    (df_base['Nº DE DIAS'] <= 365),
    (df_base['Nº DE DIAS'] <= 730),
    (df_base['Nº DE DIAS'] <= 1095),
    (df_base['Nº DE DIAS'] <= 1460),
    (df_base['Nº DE DIAS'] <= 1825),
    (df_base['Nº DE DIAS'] > 1825)
]
choices = [1, 2, 3, 4, 5, 6, 7, 8, 9]
df_base['Nº DE DIAS CATEGORY'] = np.select(conditions, choices)
n_dias_category_values = {
    1: '0-30 days',
    2: '31-90 days',
    3: '91-183 days',
    4: '184-365 days',
    5: '366-730 days',
    6: '731-1095 days',
    7: '1096-1460 days',
    8: '1461-1825 days',
    9: '1826+ days'
}
categorization['Nº DE DIAS CATEGORY'] = n_dias_category_values

# Add the new columns to the categorized DataFrame
df_base_c['FECHA BAJA CATEGORY'] = df_base['FECHA BAJA CATEGORY']
df_base_c['Nº DE DIAS CATEGORY'] = df_base['Nº DE DIAS CATEGORY']

# Print the updated DataFrame and categorized DataFrame
print(df_base_c)

         ID  CATEGORIA  SECCIÓN  TIENDA/SECCION INICIAL  SECCIÓN2
0     1860S          1        1                       1         1  \
1     1737N          1        1                       1         1
2     9418A          1        1                       1         1
3     6454P          1        1                       1         1
4     1284C          1        1                       1         1
...     ...        ...      ...                     ...       ...
1657  1813T          5        4                     100         1
1658  9996T          7        2                       2         1
1659  9559T          5        4                     100         1
1660  6044M          7        4                     100         1
1661  2852G          7        2                      83         3

      TIENDA/SECCION FINAL2  QUIEN CAUSO BAJA?  FECHA BAJA CATEGORY
0                         1                  1                    2  \
1                         1                  1                    2
2                         1                  1                    2
3                         1                  1                    2
4                         1                  1                    2
...                     ...                ...                  ...
1657                      1                  1                    2
1658                      1                  1                    2
1659                      1                  1                    2
1660                      1                  1                    2
1661                     39                  3                    1

      Nº DE DIAS CATEGORY
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
1657                    0
1658                    0
1659                    0
1660                    0
1661                    9

[1662 rows x 9 columns]

In [13]:
# Unir los dataframes utilizando la columna ID como clave
df_machine = df_actual_c[['ID', 'HORAS DE CONTRATO', 'Categoría', 'Número de hijos', 'Sexo', 'Supervisora/Coordinador', 'Sección']].copy()

df_machine = df_machine.merge(df_absentismo_c[['ID', 'IT/AT', 'Horas contratadas', 'TIPO DE BAJA']], on='ID', how='left')
df_machine = df_machine.merge(df_historical_performance_c[['ID', 'Supervisor/a', 'Evaluación']], on='ID', how='left')
df_machine = df_machine.merge(df_performance_c[['ID', 'Evaluación', 'Supervisor/a']], on='ID', how='left')
df_machine = df_machine.merge(df_base_c[['ID', 'CATEGORIA', 'SECCIÓN', 'TIENDA/SECCION INICIAL', 'SECCIÓN2', 'TIENDA/SECCION FINAL2', 'QUIEN CAUSO BAJA?', 'FECHA BAJA CATEGORY', 'Nº DE DIAS CATEGORY']], on='ID', how='left')

# Si la evaluación está vacía en df_performance_c, buscar en df_historical_performance_c
df_machine['Evaluación'] = df_machine['Evaluación_x'].fillna(df_machine['Evaluación_y'])

# Si el supervisor/a está vacío en df_performance_c, buscar en df_historical_performance_c
df_machine['Supervisor/a'] = df_machine['Supervisor/a_x'].fillna(df_machine['Supervisor/a_y'])

# Eliminar las columnas innecesarias
df_machine = df_machine.drop(['Evaluación_x', 'Evaluación_y', 'Supervisor/a_x', 'Supervisor/a_y'], axis=1)

# Reordenar las columnas
df_machine = df_machine[['ID', 'HORAS DE CONTRATO', 'Categoría', 'Número de hijos', 'Sexo', 'Supervisora/Coordinador', 'Sección',
                         'IT/AT', 'Horas contratadas', 'TIPO DE BAJA', 'Evaluación', 'Supervisor/a',
                         'CATEGORIA', 'SECCIÓN', 'TIENDA/SECCION INICIAL', 'SECCIÓN2', 'TIENDA/SECCION FINAL2', 'QUIEN CAUSO BAJA?',
                         'FECHA BAJA CATEGORY', 'Nº DE DIAS CATEGORY']]

# Imprimir el DataFrame df_machine
print(df_machine)

         ID  HORAS DE CONTRATO  Categoría  Número de hijos  Sexo
0     3024C                  1          1                1     1  \
1     4639B                  1          2                2     2
2     4639B                  1          2                2     2
3     4639B                  1          2                2     2
4     4639B                  1          2                2     2
...     ...                ...        ...              ...   ...
4666  2559B                  2          3                7     1
4667  7465B                  2          3                7     1
4668  1342J                  2          3                9     1
4669  4082D                  6          3                8     1
4670  5652P                  2          3                7     1

      Supervisora/Coordinador  Sección  IT/AT  Horas contratadas
0                           1        1    1.0                1.0  \
1                           1        2    1.0                1.0
2                           1        2    1.0                1.0
3                           1        2    1.0                1.0
4                           1        2    1.0                1.0
...                       ...      ...    ...                ...
4666                       37        8    NaN                NaN
4667                       37        8    NaN                NaN
4668                       37        8    NaN                NaN
4669                       37        8    NaN                NaN
4670                       37        8    NaN                NaN

      TIPO DE BAJA  Evaluación  Supervisor/a  CATEGORIA  SECCIÓN
0              1.0         NaN           NaN        5.0      4.0  \
1              2.0         NaN           NaN        4.0      4.0
2              2.0         NaN           NaN        4.0      4.0
3              2.0         NaN           NaN        4.0      4.0
4              2.0         NaN           NaN        4.0      4.0
...            ...         ...           ...        ...      ...
4666           NaN         NaN           NaN        1.0      1.0
4667           NaN         NaN           NaN        1.0      1.0
4668           NaN         NaN           NaN        1.0      1.0
4669           NaN         NaN           NaN        1.0      1.0
4670           NaN         NaN           NaN        1.0      1.0

      TIENDA/SECCION INICIAL  SECCIÓN2  TIENDA/SECCION FINAL2
0                      100.0       1.0                    1.0  \
1                       41.0       1.0                    1.0
2                       41.0       1.0                    1.0
3                       41.0       1.0                    1.0
4                       41.0       1.0                    1.0
...                      ...       ...                    ...
4666                     1.0       1.0                    1.0
4667                     1.0       1.0                    1.0
4668                     1.0       1.0                    1.0
4669                     1.0       1.0                    1.0
4670                     1.0       1.0                    1.0

      QUIEN CAUSO BAJA?  FECHA BAJA CATEGORY  Nº DE DIAS CATEGORY
0                   1.0                  2.0                  0.0
1                   1.0                  2.0                  0.0
2                   1.0                  2.0                  0.0
3                   1.0                  2.0                  0.0
4                   1.0                  2.0                  0.0
...                 ...                  ...                  ...
4666                1.0                  2.0                  0.0
4667                1.0                  2.0                  0.0
4668                1.0                  2.0                  0.0
4669                1.0                  2.0                  0.0
4670                1.0                  2.0                  0.0

[4671 rows x 20 columns]

In [14]:
# Reemplazar NaN por 9 en las columnas 'IT/AT', 'TIPO DE BAJA' y 'QUIEN CAUSO BAJA?'
df_machine['IT/AT'] = df_machine['IT/AT'].fillna(9)
df_machine['TIPO DE BAJA'] = df_machine['TIPO DE BAJA'].fillna(9)
df_machine['QUIEN CAUSO BAJA?'] = df_machine['QUIEN CAUSO BAJA?'].fillna(9)
df_machine = df_machine.dropna(subset=['Evaluación', 'Supervisor/a', 'Horas contratadas', 'CATEGORIA'])
df_machine = df_machine.drop_duplicates(subset='ID', keep='first')
df_machine = df_machine.set_index('ID')

In [15]:
df_machine

,HORAS DE CONTRATO,Categoría,Número de hijos,Sexo,Supervisora/Coordinador,Sección,IT/AT,Horas contratadas,TIPO DE BAJA,Evaluación,Supervisor/a,CATEGORIA,SECCIÓN,TIENDA/SECCION INICIAL,SECCIÓN2,TIENDA/SECCION FINAL2,QUIEN CAUSO BAJA?,FECHA BAJA CATEGORY,Nº DE DIAS CATEGORY
ID,,,,,,,,,,,,,,,,,,,
0877N,1,3,2,1,2,1,1.0,1.0,1.0,5.0,9.0,1.0,3.0,91.0,1.0,1.0,1.0,2.0,0.0
8040C,1,3,2,1,2,1,1.0,1.0,2.0,4.0,4.0,1.0,3.0,91.0,2.0,68.0,3.0,1.0,7.0
3606B,1,3,3,1,2,1,1.0,1.0,2.0,1.0,4.0,1.0,3.0,91.0,1.0,1.0,1.0,2.0,0.0
5220H,1,3,2,1,2,1,1.0,1.0,1.0,4.0,4.0,1.0,3.0,91.0,1.0,1.0,1.0,2.0,0.0
0895V,1,3,2,1,2,1,1.0,1.0,2.0,1.0,14.0,1.0,3.0,91.0,1.0,1.0,1.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5944D,6,3,7,1,26,1,1.0,3.0,2.0,1.0,8.0,1.0,3.0,56.0,1.0,1.0,1.0,2.0,0.0
7733W,2,3,7,1,26,1,1.0,2.0,2.0,4.0,8.0,1.0,3.0,59.0,2.0,13.0,2.0,1.0,1.0
3466E,2,3,7,1,26,1,1.0,2.0,2.0,2.0,8.0,1.0,3.0,61.0,2.0,10.0,2.0,1.0,2.0
5673Z,2,3,7,1,26,1,1.0,2.0,2.0,2.0,8.0,1.0,3.0,32.0,1.0,1.0,1.0,2.0,0.0
4589D,2,3,7,1,24,1,1.0,2.0,2.0,1.0,5.0,1.0,3.0,44.0,1.0,1.0,1.0,2.0,0.0

In [16]:
df_machine.to_pickle('df_machine.pkl')

df_machine = df_machine.set_index('ID')